# Go
/humi
/nodectl
bin/
*.db
*.db-wal
*.db-shm
*.log

# Angular
web/node_modules/
web/dist/
web/.angular/

# local
config.local.yml
.DS_Store

#IDE
.idea

# firmware credentials
firmware/**/secrets.h
